/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Abel";
  src: url(../fonts/abel/Abel-Regular.ttf);
}
@font-face {
  font-family: "Philosopher_Bold";
  src: url(../fonts/philosopher/Philosopher-Bold.ttf);
}
@font-face {
  font-family: "Philosopher_Regular";
  src: url(../fonts/philosopher/Philosopher-Regular.ttf);
}
@font-face {
  font-family: "Philosopher_Italic";
  src: url(../fonts/philosopher/Philosopher-Regular.ttf);
}
@font-face {
  font-family: "TT_Norms-Bold";
  src: url(../fonts/tt_norms/TTNorms-Bold.ttf);
}
@font-face {
  font-family: "TT_Norms-EXBold";
  src: url(../fonts/tt_norms/TTNorms-ExtraBold.ttf);
}
@font-face {
  font-family: "TT_Norms-Light";
  src: url(../fonts/tt_norms/TTNorms-Light.ttf);
}
@font-face {
  font-family: "TT_Norms-LItalic";
  src: url(../fonts/tt_norms/TTNorms-LightItalic.ttf);
}
@font-face {
  font-family: "TT_Norms-Medium";
  src: url(../fonts/tt_norms/TTNorms-Medium.ttf);
}
@font-face {
  font-family: "TT_Norms-Reg";
  src: url(../fonts/tt_norms/TTNorms-Regular.ttf);
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  font-family: "TT_Norms-Reg";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.main_section {
  background-image: url(../img/header/header_bg/header_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1011px;
}

.conteiner {
  margin: 0 auto;
  max-width: 1160px;
}

.btn {
  color: #fff;
  background-color: #497bdf;
  font-family: "TT_Norms-Bold";
  padding: 44px 58px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.header {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

.header_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.header_contacts-tel {
  color: #ffffff;
  text-align: right;
  font-family: "TT_Norms-Bold";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.title {
  max-width: 785px;
  color: #ffffff;
  font-family: "Philosopher_Regular";
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
}
.title span {
  color: #cbb47a;
  font-family: "Philosopher_Bold";
}

.main_title {
  margin-bottom: 50px;
}

.main_section_text_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 50px;
}

.elipse_wrapper {
  position: absolute;
  top: 15px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.elipse_1 {
  background-color: #a7a9ae;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.elipse_2 {
  background-color: #a7a9ae;
  border-radius: 50%;
  width: 5px;
  height: 5px;
}

.main_section_text {
  padding-left: 38px;
  max-width: 487px;
  margin-bottom: 50px;
  color: #fff;
  font-family: "TT_Norms-Medium";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.main_section-link {
  margin-bottom: 50px;
}

.offers_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: -15px;
}

.offers_card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  background: #fff;
  padding: 50px;
  width: 371px;
  height: 302px;
}

.offers_card-title {
  font-family: "TT_Norms-Bold";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}
.offers_card-title span {
  font-size: 62px;
}

.offers_card-text {
  width: 225px;
  font-family: "TT_Norms-Reg";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.offers_card_wrapper {
  position: absolute;
  top: 75%;
  right: 10%;
}