@import "./_reset/reset";

//fonts

//Abel
@font-face {
	font-family: "Abel";
	src: url(../fonts/abel/Abel-Regular.ttf);
}

//Philosopher_
@font-face {
	font-family: "Philosopher_Bold";
	src: url(../fonts/philosopher/Philosopher-Bold.ttf);
}
@font-face {
	font-family: "Philosopher_Regular";
	src: url(../fonts/philosopher/Philosopher-Regular.ttf);
}
@font-face {
	font-family: "Philosopher_Italic";
	src: url(../fonts/philosopher/Philosopher-Regular.ttf);
}

//TT_Norms
@font-face {
	font-family: "TT_Norms-Bold";
	src: url(../fonts/tt_norms/TTNorms-Bold.ttf);
}
@font-face {
	font-family: "TT_Norms-EXBold";
	src: url(../fonts/tt_norms/TTNorms-ExtraBold.ttf);
}
@font-face {
	font-family: "TT_Norms-Light";
	src: url(../fonts/tt_norms/TTNorms-Light.ttf);
}
@font-face {
	font-family: "TT_Norms-LItalic";
	src: url(../fonts/tt_norms/TTNorms-LightItalic.ttf);
}
@font-face {
	font-family: "TT_Norms-Medium";
	src: url(../fonts/tt_norms/TTNorms-Medium.ttf);
}
@font-face {
	font-family: "TT_Norms-Reg";
	src: url(../fonts/tt_norms/TTNorms-Regular.ttf);
}

//body
body {
	
	max-width: 1920px;
	color: #212225;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	font-family: "TT_Norms-Reg";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}

//mixins

.main_section {
	margin: 0 auto;
	background-image: url(../img/header/header_bg/header_bg.png);
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 1011px;
	background-size: cover;
	/* margin-bottom: 170px; */
}

//conteiner
.conteiner {
	margin: 0 auto;
	max-width: 1160px;
	padding-left: 15px;
	padding-right: 15px;
}

//fonts

.title {
	font-family: "Philosopher_Bold";
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 110%;
}

//btn
.btn {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background-color: #497bdf;
	font-family: "TT_Norms-Bold";
	padding: 44px 58px;
	border-radius: 10px;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 1.6px;
	text-transform: uppercase;
}

//none
.none{
	display: none;
}

//import boxes
//header
@import "../scss/boxess/header.scss";

//seller
@import "../scss/boxess/sellers.scss";

/* help_you_form_section */
@import "../scss/boxess/help_you.scss";

/* reviews_section */
@import "../scss/boxess/reviews.scss";

//slider
@import "../scss/boxess/swiper.scss";

/* advantages_services */
@import "../scss/boxess/advantages_services.scss";

/* top_objects */
@import "../scss/boxess/top_objects.scss";

/* more_obj_ */
@import "../scss/boxess/more_obj.scss";

/* cashback_section */
@import "../scss/boxess/cashback_section.scss";

/* profitable_section_ */
@import "../scss/boxess/profitable_section.scss";

/* solve_task */
@import "../scss/boxess/solve_task.scss";

/* affter_buy_section */
@import "../scss/boxess/affter_buy_section.scss";

/* map */
@import "../scss/boxess/map.scss";

//footer
@import "../scss/boxess/footer.scss";
