@import "./_reset/reset";

//fonts

//Abel
@font-face {
	font-family: "Abel";
	src: url(../fonts/abel/Abel-Regular.ttf);
}

//Philosopher_
@font-face {
	font-family: "Philosopher_Bold";
	src: url(../fonts/philosopher/Philosopher-Bold.ttf);
}
@font-face {
	font-family: "Philosopher_Regular";
	src: url(../fonts/philosopher/Philosopher-Regular.ttf);
}
@font-face {
	font-family: "Philosopher_Italic";
	src: url(../fonts/philosopher/Philosopher-Regular.ttf);
}

//TT_Norms
@font-face {
	font-family: "TT_Norms-Bold";
	src: url(../fonts/tt_norms/TTNorms-Bold.ttf);
}
@font-face {
	font-family: "TT_Norms-EXBold";
	src: url(../fonts/tt_norms/TTNorms-ExtraBold.ttf);
}
@font-face {
	font-family: "TT_Norms-Light";
	src: url(../fonts/tt_norms/TTNorms-Light.ttf);
}
@font-face {
	font-family: "TT_Norms-LItalic";
	src: url(../fonts/tt_norms/TTNorms-LightItalic.ttf);
}
@font-face {
	font-family: "TT_Norms-Medium";
	src: url(../fonts/tt_norms/TTNorms-Medium.ttf);
}
@font-face {
	font-family: "TT_Norms-Reg";
	src: url(../fonts/tt_norms/TTNorms-Regular.ttf);
}

//body
body {
	color: #212225;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	font-family: "TT_Norms-Reg";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}

.main_section {
	margin: 0 auto;
	background-image: url(../img/header/header_bg/header_bg.png);
	background-position: center;
	background-repeat: no-repeat;
	width: 1929px;
	min-height: 1011px;
	background-size: cover;
	/* margin-bottom: 170px; */
}

//conteiner
.conteiner {
	margin: 0 auto;
	max-width: 1160px;
}

//fonts

.title {
	font-family: "Philosopher_Bold";
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 110%;
}

//btn
.btn {
	display: flex;
	align-items: center;
	color: #fff;
	background-color: #497bdf;
	font-family: "TT_Norms-Bold";
	padding: 44px 58px;
	border-radius: 10px;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 1.6px;
	text-transform: uppercase;
}

//header
.header {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 80px;
}

.header_contacts {
	display: flex;
	align-items: center;
	gap: 10px;
}

.header_contacts-tel {
	color: #ffffff;
	text-align: right;
	font-family: "TT_Norms-Bold";
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 18px;
}

.title {
	max-width: 785px;
	color: #ffffff;
	font-family: "Philosopher_Regular";
	font-size: 54px;
	font-style: normal;
	font-weight: 700;
	line-height: 110%;
	text-transform: uppercase;
	span {
		color: #cbb47a;
		font-family: "Philosopher_Bold";
	}
}

.main_title {
	margin-bottom: 50px;
}

.main_section_text_wrapper {
	display: flex;
	position: relative;
	margin-bottom: 50px;
}

.elipse_wrapper {
	position: absolute;
	top: 15px;
	left: 0px;
	display: flex;
	align-items: center;
	gap: 5px;
}

.elipse_1 {
	background-color: #a7a9ae;
	border-radius: 50%;
	width: 8px;
	height: 8px;
}

.elipse_2 {
	background-color: #a7a9ae;
	border-radius: 50%;
	width: 5px;
	height: 5px;
}

.main_section_text {
	padding-left: 38px;
	max-width: 487px;
	margin-bottom: 50px;
	color: #fff;
	font-family: "TT_Norms-Medium";
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
}

.main_section-link {
	margin-bottom: 50px;
}
.offers_list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: -15px;
}

.offers_card {
	position: relative;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	border-radius: 20px;
	background: #fff;
	padding: 50px;
	width: 371px;
	height: 302px;
}

.offers_card-title {
	font-family: "TT_Norms-Bold";
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%;
	text-transform: uppercase;
	span {
		font-size: 62px;
	}
}

.offers_card-text {
	width: 225px;
	font-family: "TT_Norms-Reg";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.offers_card_wrapper {
	position: absolute;
	top: 75%;
	right: 10%;
}

//seller

.sellers_section {
	background-image: url(../img/seller/bg/seller_bg.png);
	background-position: center;
	background-repeat: no-repeat;
	min-height: 885px;
}

.sellers_data {
	display: flex;
	gap: 25px;
	align-items: center;
}

.sellers_data_wrapper {
	width: 252px;
	display: flex;
	flex-direction: column;
}

.sellers_section_title {
	margin-top: 170px;
	font-family: "Philosopher_Bold";
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 110%;
	color: #212225;
	margin-bottom: 45px;
	max-width: 855px;
}
.sellers_section_title_smol {
	font-family: "TT_Norms-Bold";
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%; /* 27px */
	text-transform: uppercase;
	max-width: 610px;
	margin-bottom: 20px;
}
.sellers_section_text {
	font-family: "TT_Norms-Reg";
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	max-width: 610px;
	margin-bottom: 61px;
}

.sellers_name {
	font-family: TT Norms;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%; /* 27px */
	letter-spacing: 0.9px;
	text-transform: uppercase;
	margin-bottom: 6px;
}
.sellers_post {
	font-family: "TT_Norms-LItalic";
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 150%;
	margin-bottom: 15px;
}

.sellers_social {
	display: flex;
	gap: 10px;
}

/* help_you_form_section */

.help_you_form_section {
	margin: 0 auto;
	background-image: url(../img/help_form/bg/form_bg.png);
	width: 1396px;
	height: 522px;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 90px;
}

.form_title {
	margin-top: 90px;
	font-family: "Philosopher_Bold";
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 110%;
	margin-bottom: 15px;
	max-width: 740px;
}

.form_text {
	font-family: "TT_Norms-Bold";
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%;
	text-transform: uppercase;
	margin-bottom: 40px;
	max-width: 740px;
}

.form_wrapper {
	display: flex;
	align-content: center;
	gap: 20px;
}

.help_you_form_input {
	display: flex;
	align-items: center;
	width: 330px;
	background: #fff;
	border-radius: 10px;
	padding: 44px 58px;
	&::placeholder {
		font-size: 18px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		color: #8c8c8c;
		font-family: "TT_Norms-Light";
	}
}

.form_checbox {
	width: 600px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 10px;
	margin-bottom: 50px;
}

.checbox_wrapper {
	display: flex;
	gap: 15px;
}

.checbox_wrapper {
	label {
		font-family: "TT_Norms-Reg";
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%;
	}
}

/* reviews_section */
.reviews_section_title {
	font-family: "Philosopher_Bold";
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 110%;
	width: 470px;
	margin-bottom: 35px;
}

.reviews_section_text {
	font-family: "TT_Norms-Light";
	font-size: 22px;
	font-style: normal;
	font-weight: 300;
	line-height: 150%;
	width: 510px;
	margin-bottom: 45px;
}

.reviews_wrapper {
	display: flex;
	justify-content: space-between;
}

.reviews_list {
	width: 180px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	.reviews_title {
		color: #487bde;
		font-family: "Philosopher_Bold";
		font-size: 50px;
		font-style: normal;
		font-weight: 700;
		margin-bottom: 15px;
	}
	p {
		font-family: "TT_Norms-Light";
		color: #000;
		font-size: 16px;
		font-style: normal;
		font-weight: 300;
	}
	span {
		font-size: 16px;
		line-height: 0;
	}
}
.reviews_list_start {
	display: flex;
	width: 187px;
	gap: 20px;

	span {
		color: #487bde;
		font-family: "Philosopher_Bold";
		font-size: 50px;
		font-style: normal;
		font-weight: 700;
		line-height: 100%;
	}
	p {
		font-family: "TT_Norms-Light";
		color: #000;
		font-size: 16px;
		font-style: normal;
		font-weight: 300;
	}
}

.ten_yer {
	width: 124px;
}

//slider
.swiper {
	position: relative;
	width: 100%;
	height: 100%;
}

.swiper-button_wrapper {
	display: flex;
	gap: 15px;
}

.swiper_slide_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.swiper-button-prev {
	width: 70px;
	height: 70px;
	border-radius: 70px;
	background: #c2d4ee;
}

.swiper-button-next {
	width: 70px;
	height: 70px;
	border-radius: 70px;
	background: #c2d4ee;
}

.swiper-slide {
	width: 367px;
	height: 632px;
	box-shadow: 0px 50px 100px 0px rgba(26, 29, 33, 0.07);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	padding-top: 40px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 40px;
	margin-bottom: 80px;
	img {
		display: block;
		width: 89px;
		height: 89px;
	}
	h3 {
		span {
			font-family: "Philosopher_Regular";
			font-size: 20px;
			font-weight: 400;
			line-height: 140%;
			margin-right: 5px;
		}
		font-family: "TT_Norms-EXBold";
		font-size: 20px;
		font-style: normal;
		font-weight: 800;
		line-height: 140%;
		margin-bottom: 15px;
	}
	h4 {
		font-family: "TT_Norms-Light";
		font-size: 14px;
		font-style: normal;
		font-weight: 300;
		line-height: 150%;
	}
}

.swiper-slide_author {
	display: flex;
	gap: 15px;
	align-items: center;
	margin-bottom: 21px;
}

.slide_author_data {
	display: flex;
	flex-direction: column;
	h3 {
		font-family: "TT_Norms-Medium";
		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		line-height: 140%;
	}
	p {
		font-family: "TT_Norms-Light";
		font-size: 16px;
		font-style: normal;
		font-weight: 300;
		line-height: 150%;
	}
}

.reviews_section_call_to_action {
	margin: 0 auto;
	font-family: "TT_Norms-Bold";
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%; /* 33px */
	text-transform: uppercase;
	max-width: 950px;
	margin-bottom: 40px;
}

.call_to_action_btn {
	margin: 0 auto;
	margin-bottom: 120px;
}

/* advantages_services */

.advantages_services {
	padding-top: 100px;
	background-color: #f6f8fb;
	.btn {
		margin: 0 auto;
		margin-bottom: 120px;
	}
}

.advantages_title {
	text-align: center;
	margin: 0 auto;
	font-family: "Philosopher_Bold";
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 110%;
	max-width: 806px;
	margin-bottom: 20px;
}

.advantages_text {
	font-family: "TT_Norms-Reg";
	text-align: center;
	margin: 0 auto;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	margin-bottom: 80px;
}

.advantages_services_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 35px;
}

.advantages_services_card {
	width: 290px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	p {
		text-align: center;
		font-family: "TT_Norms-Reg";
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%;
	}
	span {
		font-family: "TT_Norms-Bold";
	}
}

/* top_objects */
.top_objects {
	background-image: url(../img/top_obj/bg/top_obj_bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 1447px;
	padding-top: 116px;
}

.top_objects_title {
	color: #fff;
	font-family: "Philosopher_Bold";
	text-align: center;
	margin: 0 auto;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 110%;
	margin-bottom: 75px;
}

.top_objects_text {
	color: #fff;
	text-align: center;
	margin: 0 auto;
	font-size: 18px;
	font-style: normal;
	line-height: 150%;
	font-family: "TT_Norms-Reg";
	margin-bottom: 50px;
}

.top_objects_cards {
	width: 370px;
	height: 254px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: 54px;
	padding-bottom: 54px;

	p {
		color: #fff;
		font-family: "Philosopher_Bold";
		font-size: 32px;
		font-style: normal;
		font-weight: 700;
		line-height: 50px;
		border-bottom: 2px solid #cbb47a;
	}
}

.build_bg {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.45) 100%), url(../img/top_obj/top_img_1.png), lightgray -17.456px -6.86px / 129.358% 105.402% no-repeat;
}

.Keys_soon {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.45) 100%), url(../img/top_obj/top_img_2.png), lightgray -17.456px -6.86px / 129.358% 105.402% no-repeat;
}

.for_pass {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.45) 100%), url(../img/top_obj/top_img_2.png), lightgray -17.456px -6.86px / 129.358% 105.402% no-repeat;
}
.for_investment_bg {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.45) 100%), url(../img/top_obj/top_img_2.png), lightgray -17.456px -6.86px / 129.358% 105.402% no-repeat;
}

.build {
	background: #ff7a00;
}
.key {
	background: #4ca48a;
}
.pass {
	background: #df5536;
}
.investment {
	background: #9350e9;
}

.objects_cards_section {
	border-radius: 6px;
	display: flex;
	gap: 6px;
	padding: 7px 13px;
	color: #fff;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

.objects_cards_city {
	display: flex;
	gap: 7px;
	font-family: "TT_Norms-Medium";
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	color: #fff;
}

.top_objects_list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 20px;
	row-gap: 25px;
	margin-bottom: 60px;
}

/* more_obj_ */
.more_obj_section {
	padding-top: 120px;
}
.more_obj_wrapp {
	display: flex;
	justify-content: space-between;
	margin-bottom: 150px;
}

.more_obj_wrapp_left_points {
	display: flex;
	gap: 50px;
}

.points_card {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 280px;
	span {
		position: relative;
		font-family: "Philosopher_Italic";
		color: #cbb47a;
		font-size: 48px;
		font-style: italic;
		font-weight: 400;
		line-height: 130%;
		text-transform: uppercase;
		&::after {
			content: "";
			position: absolute;
			background-image: url(../img/more_obj/ponts/line.png);
			background-repeat: no-repeat;
			background-size: cover;
			width: 76px;
			height: 1px;
			top: 30px;
			left: 70px;
		}
	}
	p {
		font-family: "TT_Norms-Medium";
		color: #000;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 150%;
	}
}

.wrapp_left_title {
	font-family: "Philosopher_Bold";
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 130%;
	text-transform: uppercase;
	width: 500px;
	margin-bottom: 30px;
}

.more_obj_wrapp_wrigt {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 75px 45px;
	width: 433px;
	height: 565px;
	border-radius: 20px;
	background: #fff;
	box-shadow: 0px 50px 130px 0px rgba(26, 29, 33, 0.03);
	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		width: 95%;
		height: 30%;
		top: -10px;
		left: 9px;
		border-radius: 20px;
		background: #cbb47a;
	}
	h4 {
		color: var(--2, #212225);
		text-align: center;
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%;
		margin-bottom: 20px;
	}
	h5 {
		color: rgba(33, 34, 37, 0.5);
		text-align: center;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 130%;
	}
}

.more_obj_form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.more_obj_form_btn {
	border-radius: 10px;
	background: #497bdf;
	font-family: "TT_Norms-Medium";
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	text-transform: uppercase;
	padding: 35px 30px;
}

.more_obj_form_input {
	padding: 37px;
	color: #8c8c8c;
	font-family: "TT_Norms-Light";
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	box-shadow: 0px 0px 30px 0px rgba(44, 50, 62, 0.04) inset;
}

/* cashback_section */

.cashback_section {
	width: 1396px;
	height: 718px;
	padding-top: 115px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	background-image: url(../img/cashback_section/bg/bg.png);
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 100px;
}

.cashback_section_title {
	span {
		font-family: "Philosopher_Bold";
	}
	font-family: "Philosopher_Regular";
	font-size: 48px;
	font-weight: 700;
	line-height: 110%;
	max-width: 600px;
	margin-bottom: 30px;
}

.cashback_section_text {
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	max-width: 600px;
	margin-bottom: 45px;
}

.cashback_section_title_new {
	font-family: "TT_Norms-Bold";
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%;
	margin-bottom: 20px;
}

.cashback_form {
	display: flex;
	gap: 20px;
	margin-bottom: 20px;
}

.cashback_input {
	padding: 35px 45px;
	background-color: #fff;
	border-radius: 10px;
	::placeholder {
		color: #8c8c8c;
		font-family: "TT_Norms-Light";
		font-size: 18px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
	}
}
.cashback_button {
	border-radius: 10px;
	padding: 35px 51px;
	font-family: "Philosopher_Bold";
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 1.4px;
	text-transform: uppercase;
	background: #497bdf;
}

.hide_text {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	opacity: 0.3;
	margin-bottom: 35px;
}

.cashback_section {
	p {
		font-family: "TT_Norms-Medium";
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 150%;
	}
}

/* profitable_section_ */
.profitable_section_wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 700px;
	&::before {
		content: "";
		position: absolute;
		width: 952px;
		height: 596px;
		background-image: url(../img/profitable_section/house.png);
		top: 0%;
		left: 100%;
		background-position: center;
		background-repeat: no-repeat;
	}
}

.profitable_section_title {
	font-family: "Philosopher_Bold";
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 110%;
	margin-bottom: 25px;
}

.profitable_section_text {
	font-size: 22px;
	font-family: "TT_Norms-Reg";
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	margin-bottom: 25px;
}

.profitable_section_wrapper {
	h5 {
		font-family: "TT_Norms-Bold";
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 150%;
		margin-bottom: 5px;
	}
	p {
		font-size: 16px;
		line-height: 150%;
		margin-bottom: 40px;
	}
}

.profitable_list_wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.profitable_list_crd {
	border-radius: 10px;
	background: #f6f8fb;
	display: flex;
	flex-direction: column;
	width: 369px;
	padding: 40px;
	h6 {
		font-family: "TT_Norms-Medium";
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		max-width: 185px;
	}
}

.profitable_crd_content_wrapper {
	display: flex;
	gap: 15px;
	margin-bottom: 20px;
}

.profitable_crd_number {
	font-family: "Philosopher_Italic";
	color: #cbb47a;
	font-size: 48px;
	font-style: italic;
	font-weight: 400;
	line-height: 100%; /* 62.4px */
	text-transform: uppercase;
}
.profitable_form {
	display: flex;
	justify-content: center;
	margin-bottom: 120px;
	gap: 25px;
}

/* solve_task */

.solve_task {
	padding-top: 120px;
	margin: 0 auto;
	background-image: url(../img/solve_task/bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 2100px;
	min-width: 100%;
}

.solve_task_title {
	text-align: center;
	color: #fff;
	font-family: "Philosopher_Bold";
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 110%;
	margin-bottom: 100px;
}

.solve_task_cark_title {
	margin-bottom: 50px;
}

.solve_task_wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 40px;
}

.solve_task_cark {
	width: 558px;
	height: 801px;
	border-radius: 20px;
	background: #fff;
	box-shadow: 0px 4px 100px 0px rgba(26, 29, 33, 0.07);
	display: flex;
	flex-direction: column;
	padding: 35px;
}

.solve_task_cark {
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	line-height: 46px;
	margin-bottom: 40px;
	overflow: hidden;
	position: relative;
}

.solve_one {
	background-image: url(../img/solve_task/solve-1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0%;
}
.solve_two {
	background-image: url(../img/solve_task/solve-2.png);
	background-repeat: no-repeat;
	background-position: right;
	background-position-y: bottom;
}

.solve_three {
	background-image: url(../img/solve_task/solve-3.png);
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-position-y: 133%;
}

.solve_four {
	background-image: url(../img/solve_task/solve-4.png);
	background-repeat: no-repeat;
	background-position-x: 45%;
	background-position-y: 0%;
}

.solve_task_text {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	margin-bottom: 40px;
}

.solve_task_advantage {
	border-radius: 10px;
	background: linear-gradient(137deg, #f5f0e2 0%, #ece3cc 100%);
	width: 100%;
	padding: 23px;
	text-align: center;
	margin-bottom: 20px;
	p {
		font-size: 22px;
		font-style: normal;
		font-weight: 700;
		line-height: 150%;
	}
}

.solve_task_btn {
	padding: 30px;
	border-radius: 10px;
	background: #497bdf;
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	letter-spacing: 1.8px;
	text-transform: uppercase;
}

/* affter_buy_section */

.affter_buy_section {
	background-image: url(../img/affter_buy/bg.png);
	background-position: center;
	background-repeat: no-repeat;
	min-height: 1014px;
	padding-top: 120px;
}

.affter_buy_wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.affter_buy_left {
	display: flex;
	flex-wrap: wrap;
	max-width: 600px;
	justify-content: space-between;
	max-height: 320px;
}
.list_services {
	display: flex;
	gap: 30px;
}

.affter_buy_title {
	max-width: 600px;
	font-family: "Philosopher_Bold";
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 110%;
	margin-bottom: 40px;
}

.affter_buy_text {
	font-size: 22px;
	font-family: "TT_Norms-Reg";
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	margin-bottom: 40px;
}

.list_services_number {
	font-family: "Philosopher_Italic";
	color: #cbb47a;
	font-size: 48px;
	font-style: italic;
	font-weight: 400;
	text-transform: uppercase;
}

.affter_buy_right {
	position: relative;
	z-index: 3;
}

.affter_buy_right_form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 75px 45px;
	width: 433px;
	height: 565px;
	border-radius: 20px;
	background-color: #fff;
	box-shadow: 0px 50px 130px 0px rgba(26, 29, 33, 0.03);
	&::before {
		content: "";
		position: absolute;
		width: 95%;
		height: 30%;
		top: -10px;
		left: 9px;
		border-radius: 20px;
		background: #cbb47a;
		z-index: -1;
	}
	h4 {
		color: var(--2, #212225);
		text-align: center;
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%;
		margin-bottom: 20px;
	}
	h5 {
		color: rgba(33, 34, 37, 0.5);
		text-align: center;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 130%;
	}
}

.list_services_text {
	max-height: 72px;
}

/* map */

.map {
	margin: 0 auto;
	position: relative;
	height: 750px;
	width: 1916px;
}

.map_box {
	position: absolute;
	width: 418px;
	height: 430px;
	border-radius: 20px;
	background: #fff;
	box-shadow: 0px 4px 100px 0px rgba(26, 29, 33, 0.05);
	top: 20%;
	left: 20%;
	z-index: 1; /* чтобы контент был над картой */
	padding: 79px 54px;
	border-radius: 5px;
}

.map_box_data_wrap {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-bottom: 30px;
	a{
		color: #000;
		cursor: pointer;
	}
}

.map_box_data_wrap_social {
	display: flex;
	gap: 10px;
}
.map_box_title {
	font-family: "Philosopher_Bold";
	margin-bottom: 30px;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 110%;
}

.map_box_text {
	margin-bottom: 10px;
	color: #000;
	font-family: "TT_Norms-LItalic";
	font-size: 18px;
	font-style: italic;
	font-weight: 300;
	line-height: 150%;
}

//footer
.footer{
padding-top: 70px;
padding-bottom: 120px;
}

.footer_wrapp{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer_text_wrapp{
	max-width: 420px;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 15px;
	h3{
		font-family: "TT_Norms-Bold";
	}
}

.footer_social_wrapp{
	display: flex;
	gap: 15px;
	align-items: center;
}