.reviews_section_title {
	font-family: "Philosopher_Bold";
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 110%;
	max-width: 470px;
}

.reviews_section_text {
	font-family: "TT_Norms-Light";
	font-size: 22px;
	font-style: normal;
	font-weight: 300;
	line-height: 150%;
	max-width: 510px;
}

.reviews_wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.reviews_list_wrapper {
	display: flex;
	gap: 30px;
	align-items: center;
}

.reviews_list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	.reviews_title {
		color: #487bde;
		font-family: "Philosopher_Bold";
		font-size: 50px;
		font-style: normal;
		font-weight: 700;
	}
	p {
		font-family: "TT_Norms-Light";
		color: #000;
		font-size: 16px;
		font-style: normal;
		font-weight: 300;
	}
	span {
		font-size: 16px;
		line-height: 0;
	}
}

//media-mobile

@media (max-width: 1200px) {
	.reviews_wrapper {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
	.reviews_list_wrapper {
		display: flex;
		justify-content: space-between;
	}
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {

	.reviews_list_wrapper {
		
		display: flex;
		flex-direction: column;
		align-items: start;
	}
	.reviews_list {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
		justify-content: start;
	}
	.reviews_title{
		margin-right: 10px;
	}
}

@media (max-width: 767px) {
	.reviews_section_title {
		font-size: 21px;
	}
}

@media (max-width: 575px) {
}

@media (max-width: 320px) {
}
