.profitable_section_wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 700px;
}
.profitable_section_wrapper::before {
  content: "";
  position: absolute;
  width: 952px;
  height: 596px;
  background-image: url(../img/profitable_section/house.png);
  top: 0%;
  left: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.profitable_section_title {
  font-family: "Philosopher_Bold";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 25px;
}

.profitable_section_text {
  font-size: 22px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 25px;
}

.profitable_section_wrapper h5 {
  font-family: "TT_Norms-Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 5px;
}
.profitable_section_wrapper p {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 40px;
}

.profitable_list_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.profitable_list_crd {
  border-radius: 10px;
  background: #f6f8fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 369px;
  padding: 40px;
}
.profitable_list_crd h6 {
  font-family: "TT_Norms-Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  max-width: 185px;
}

.profitable_crd_content_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.profitable_crd_number {
  font-family: "Philosopher_Italic";
  color: #cbb47a;
  font-size: 48px;
  font-style: italic;
  font-weight: 400;
  line-height: 100%; /* 62.4px */
  text-transform: uppercase;
}

.profitable_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 120px;
  gap: 25px;
}